body {
  background-color:white;
}

h1 {
	color:orange;
	text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
 }
 
:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
  --lightblue: #ADD8E6;
  --grey: #808080;
  --yellow:#FFFF00;
  --orange:#FFA500;
  
 }
 
 * {
   color:var(--fontColor);
   font-family: helvetica;
}

body {
	background: var(--bg);
}

.light-theme {
  --bg: var(--yellow);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
   --bg: var(--grey);
   --fontColor: var(--white);
   --btnBg: var(--white);
   --btnFontColor: var(--black);
   
}   

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height:50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
 }
 
 .btn:focus { outline-style: none;}
