body {
  background-color: lightblue;
}

h1 {
	color:White;
	text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
 }
 
:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
  --lightblue: #ADD8E6
 }
 
 * {
   color:var(--fontColor);
   font-family: helvetica;
}

body {
	background: var(--bg);
}

.light-theme {
  --bg: var(--lightblue);
  fontColor: var(--white);
}

.dark-theme {
   --bg: var(--black);
   --fontColor: var(--white);
}   
